.vs
AudioWebApp/Client/bin
AudioWebApp/Client/obj
AudioWebApp/Server/bin
AudioWebApp/Server/obj
AudioWebApp/Shared/bin
AudioWebApp/Shared/obj
.idea
AudioWebApp/AudioWebApp/bin
AudioWebApp6/Client/bin
AudioWebApp6/Client/obj
AudioWebApp6/Server/bin
AudioWebApp6/Server/obj
AudioWebApp6/Shared/bin
AudioWebApp6/Shared/obj
AudioWebApp8/AudioWebApp/bin
AudioWebApp8/AudioWebApp/obj
AudioWebApp8/AudioWebApp.Client/bin
AudioWebApp8/AudioWebApp.Client/obj
*.user
/AudioWebApp6/TestClientWebAudioApp/bin/Debug/net6.0
/AudioWebApp6/TestClientWebAudioApp/obj
