
<div>
    <MudPaper Class="d-flex justified-center header" Elevation="0">
        <img src="./images/Asset4.png"/>
        <p>@headerText</p>
    </MudPaper>
</div>

@code {
    [Parameter]
    public string headerText {get;set;} ="title";
}
