@inject NavigationManager NavigationManager

<MudPaper Class="d-flex" Elevation="0" Height="100%" Width="50%" Style=" justify-content:right;">
    <span Class="masthead-text"> @CurrentPageTitle </span>
</MudPaper>
<MudPaper Class="d-flex" Elevation="0" Height="100%" Width="50%" Style="justify-content:right; ">
    <MudImage Src="./images/Asset6@4x.png" Fluid="true" Alt="beautiful abstract background"/> 
</MudPaper>



@code {
    public string? CurrentPageTitle ;
    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += HandleLocationChanged;
        UpdatePageTitle(NavigationManager.Uri);


    }
    private void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        UpdatePageTitle(e.Location);
    }
    private void UpdatePageTitle(string uri)
    {
        CurrentPageTitle = GetPageTitleFromUri(uri);
        Console.WriteLine(CurrentPageTitle);
        StateHasChanged();
    }
    private string GetPageTitleFromUri(string uri)
    {
        var segments = uri.Split('/');
        string? substring = segments.LastOrDefault();
        if (substring == null || substring == "")
        {
            return string.Empty;
        }
        else
        {
            return RemoveHyphensAndCapitalize(substring.Substring(0));
        }
    }
    private string RemoveHyphensAndCapitalize(string title)
    {
        // Check if the input string contains '-'
        if (title.Contains('-'))
        {
            string[] words = title.Split('-');

            // Capitalize the first letter of each word
            for (int i = 0; i < words.Length; i++)
            {
                if (!string.IsNullOrEmpty(words[i]))
                {
                    words[i] = char.ToUpper(words[i][0]) + words[i].Substring(1);
                }
            }

            // Join the words back together
            string capitalizedString = string.Join(" ", words);

            return capitalizedString;
        }
        else
        {
            // If no '-' found, just capitalize the first letter of the whole string
            title = char.ToUpper(title[0]) + title.Substring(1);
            return title;
        }
    }
}