@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime

<MudPaper Class="d-flex" Elevation="0" Height="100%" Width="50%" Style=" justify-content:right;">
    <span Class="masthead-text"> @CurrentPageTitle </span>
</MudPaper>
<MudPaper Class="d-flex" Elevation="0" Height="100%" Width="50%" Style="justify-content:right; ">
    <MudImage Src="./images/Asset6@4x.png" Fluid="true" Alt="beautiful abstract background"/> 
</MudPaper>



@code {
    public string? CurrentPageTitle ;
    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += HandleLocationChanged;
        
        if (string.IsNullOrWhiteSpace(CurrentPageTitle))
        {
            GetPageTitle();
        }
    }
    private void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        GetPageTitle();
    }
    private async void GetPageTitle()
    {
        CurrentPageTitle = await jsRuntime.InvokeAsync<string>("getTitleProperty");
        StateHasChanged();
    }
    
}