::deep .mud-paper.header {
    background-color: transparent;
    height: 60px;
    z-index:0;
}

::deep p {
    font-size: 36px;
    color: #5F76A6;
    position: absolute;
    top:70px;
    left:100px;
    z-index:1;
}
