div{
    position:relative;
    background-color:transparent;
    height: 60px;
    align-content:center;  
}

div p {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%,-50%);
    font-size: 32px;
    color:#5F76A6; 
}
