<div>
    <div id="main-container">
        <div id="audio-player-container">
            <audio src="@AudioSource" preload="metadata"></audio>
            <button id="play-icon">
                <span id="play-pause" class="bi bi-play-fill"></span>
            </button>
            <span id="current-time" class="time">0:00:00</span>
            <input type="range" id="seek-slider" max="100" value="0" />
            <span id="duration" class="time">0:00:00</span>
            <output id="volume-output">19</output>
            <input type="range" id="volume-slider" max="100" value="19" />
            <button id="mute-icon">
                <span id="mute-unmute" class="bi bi-volume-up-fill"></span>
            </button>
        </div>
    </div>
</div>
@code {
    [Inject]
    public IJSRuntime? JsRuntime { get; set; }
    private IJSObjectReference? jsModule;
    [Parameter]
    public string AudioSource { get; set; }

    protected override async Task OnInitializedAsync()
    {
        jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./javascript/tnpAudioPlayer.js");
    }
}
