
@page "/audio"
@using AudioWebApp.Client.Services
@inject SharedDataService SharedDataService


<p> @audioName </p>
 <audio controls autoplay >
     <source src="@audioSource" type="audio/mp3" />
 </audio>  
@code {
    private string audioSource;
    private string audioName;

    protected override async Task OnInitializedAsync()
    {
        audioSource = "https://www.thenarrowpath.com/" + SharedDataService.AudioLink;
        audioName = SharedDataService.AudioTitle;
    }


}

    


