@page "/audio-books"
@using AudioWebApp.Client.Models
@using System.Collections.ObjectModel
@using AudioWebApp.Client.Services
@inject SharedDataService sharedDataService

<div>
    <MudCardContent>

        @if (dataReady == null)
        {
            <MudPaper Class="d-flex justify-center align-center" Elevation="0" Height="100vh">
                <MudProgressCircular Style="color:#5F76A6; " Indeterminate="true" />
            </MudPaper>
        }
        else
        {
            <MudPaper Elevation="0">
                <MudList Clickable="true">
                    @foreach (var topic in items)
                    {
                        <MudListItem Text="@topic.Name" InitiallyExpanded="true">
                            <NestedList>
                                @foreach (var msg in topic.Messages)
                                {
                                    <MudListItem Text="@msg.Name" @onclick="(e) => OpenAudio(msg.Name, msg.Link, topic.Server)" />
                                }
                            </NestedList>
                        </MudListItem>
                    }
                </MudList>
            </MudPaper>
        }
    </MudCardContent>
</div>
@code {
    string? dataReady;
    readonly ObservableCollection<Series> items = new();
    readonly string serverPath = "https://theos.s3.us-west-1.amazonaws.com";
     
    protected override async Task OnInitializedAsync()
    {
        var messages = new List<Message>
        {
            new() {Name = "Book 1", Link="books/1_Complete+Audiobook-Empire_of_the_Risen_Son_Book_1.mp3"},
            new() {Name = "Book 2", Link="books/Empire_of_the_Risen_Son-Book_2-by_Steve_Gregg.mp3"}
        };

        items.Add(new Series{Messages = messages, Name = "Empire of the Risen Son", Server = "tnp"});
        
        dataReady = "dataLoaded";
    }
    public void OpenAudio(string audioName, string audioLink, string serverName)
    {
        sharedDataService.AudioTitle = audioName;
        sharedDataService.AudioLink = Path.Combine(serverPath, audioLink);
        sharedDataService.TogglePlayer();
    }
}
