<div>
    <MudDialog Style="background-color:#5F76A6; color:#D8E6FE;">
    <DialogContent >
         @telephoneNumber             
    </DialogContent>
    <DialogActions>
            <MudButton Style="color:#D8E6FE; " OnClick="Cancel">Cancel</MudButton>
            <MudButton Variant="Variant.Filled" Class="rounded-circle pa-5" style="background-color:green; color:#e1d4d4;" >
                <MudIcon Icon="@Icons.Material.Filled.Phone" Size="Size.Medium" Href="@telephoneNumber"></MudIcon>
            </MudButton>
    </DialogActions>
</MudDialog>
</div>
