
::deep .mud-paper {
    width: 100%;
    background-color: transparent;
    padding-bottom: 150px;
}

::deep .mud-card-content {
    background: rgb(216,230,254);
    background: linear-gradient(90deg, rgba(216,230,254,1) 51%, rgba(213,216,229,1) 100%);
    height: 400vh;
    width: auto;
    padding: 0px;
    overflow: hidden;
}
