@page "/favorite"
@using AudioWebApp.Client.Services
@inject FavoritesService favoritesService
@inject SharedDataService sharedDataService

<div>
    <MudCardContent >
        @if(dataReady == null)
        {
            <MudPaper Class="d-flex justify-center align-center" Elevation="0" Height="100vh">
                <MudProgressCircular Style="color:#0840aa; " Indeterminate="true" />
            </MudPaper>
        }
        else
        {
            <MudPaper>
                @foreach(var fav in favoritesService.Favorites)
                {
                    <MudStack Row>
                        <MudButton @onclick="(e) => RemoveFavorite(fav.Name)">
                            <MudIcon style="color:#0840aa" Icon="@Icons.Material.Filled.Delete" Title="close player"></MudIcon>
                        </MudButton>
                        <MudButton style="color:#9396A1" @onclick="(e) => OpenAudio(fav.Name, fav.Source)">
                            <MudText style="font-size:16px;">@fav.Name</MudText>
                        </MudButton>
                    </MudStack> 
                }
            </MudPaper>
        }
    </MudCardContent>
</div>

@code {
    string? dataReady;
    protected override async Task OnInitializedAsync()
    {
        await favoritesService.GetAllFavorites();
        dataReady = "dataLoaded";
    }
    public void OpenAudio(string audioName,string audioLink)
    {
        //There may be an issue with the server path value
        // which is built into the audio link from the original
        // data???
        sharedDataService.AudioTitle = audioName;
        sharedDataService.AudioLink = audioLink;
        sharedDataService.TogglePlayer();
    }
    public async Task RemoveFavorite(string key)
    {
        await favoritesService.RemoveFavorite(key);
    }
}
