@page "/"
@using AudioWebApp.Client.Services
@inject NavigationManager NavigationManager
@inject AnnouncementService announcementService

<PageTitle>Narrow Path</PageTitle>
<div>
    <MudCardContent >

        @if (dataReady == null)
        {
            <MudPaper Class="d-flex justify-center align-center" Elevation="0" Height="100vh">
                <MudProgressCircular Style="color:#5F76A6; " Indeterminate="true" />
            </MudPaper>
        }
        else
        {
            @foreach (var announcement in announcementService.announcements)
            {
                <MudCard Elevation="0">
                    <MudCardContent>
                        <MudText>@announcement.Title</MudText>
                        <MudText Typo="Typo.body2">@announcement.BodyText</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                    </MudCardActions>
                </MudCard>
            }
            
        }
    </MudCardContent>
    
</div>

  
