@page "/"
@using AudioWebApp.Client.Services
@inject NavigationManager NavigationManager
@inject AnnouncementService announcementService

<PageTitle>Narrow Path</PageTitle>
<div>
    
    
</div>

  
