
::deep .mud-typography.logo-text {
    color: rgb(177 227 227 / 50%);
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 5px;
}

::deep .mud-paper.logo-image {
    background-color: transparent;
    height: 300px;
}

::deep .mud-paper {
    background-color: transparent;
}

::deep .subText {
    width: 70%;
    color: #dddddd;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

::deep cite {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #bdc7db;
}

::deep button.mud-button-root.mud-button.mud-button-filled.mud-button-filled-default.mud-button-filled-size-large.mud-ripple.nav-show-button{
    background-color: #D8E6FE;
    color: #9396A1;
    width:300px;
    height:100px;
    font-size:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom:40px;
}
::deep svg.mud-icon-root.mud-svg-icon.mud-icon-size-large {
    margin-right: 10px;
    font-size: 30px;
    color: #979ba6;
}

::deep p.features-label-header {
    font-size: 48px;
    color: #d8e6fe;
    padding-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
::deep p.mud-typography.mud-typography-body1.feature-text-heading {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom:10px;
}
::deep p.mud-typography.mud-typography-body1.feature-text-body{
    font-size: 16px;

}
::deep div.mud-paper.mud-elevation-1.mud-card.feature-card {
    width: 250px;
    height:400px;
    background-color: #D8E6FE;

}
::deep div.mud-card-actions.feature-card-action-container{
    position: relative;
    height: 50px;
}
::deep div.mud-card-content.feature-card-text-container{
    height:250px;
}

::deep button.mud-button-root.mud-button.mud-button-text.mud-ripple.feature-link-button {
    color: #fbfcfd;
    border: 1px solid #fbfcfd;
    background-color: #829dd1;
    width: 230px;
    position: absolute;
    bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}