@page "/"
@inject NavigationManager NavigationManager
<PageTitle>Index</PageTitle>
<div>
    
 <MudPaper Class="d-flex flex-grow-1 justify-center logo-image" Elevation="0" >
    <MudText Typo="Typo.h5">placeholder</MudText>
</MudPaper>
 
<MudPaper Class="d-flex flex-grow-1 justify-center" Elevation="0">
    <MudText Class="logo-text">@appTitle</MudText>
</MudPaper>

  <MudPaper Class="d-flex flex-grow-1 justify-center" Elevation="0">
      <MudText Class="caption-text">Powered By The Narrow Path</MudText>
  </MudPaper>
  
</div>

  
