@page "/radio"
@using System.Threading.Channels
@inject IDialogService DialogService

<div>
<MudCardContent Height="100vh">
    <MudPaper Class="d-flex justify-center align-center py-0 px-1" Elevation="0" Height="6vh">
        <p>The Narrow Path Live Radio Program is BroadCast</p> 
    </MudPaper>
        <MudPaper Class="d-flex justify-center align-center py-0 px-1" Elevation="0" Height="6vh">
            <p> Weekdays from 2:00 P.M. - 3:00 P.M. Pacific Time</p>
        </MudPaper>
        <MudPaper Class="d-flex justify-center align-center py-1" Elevation="3" Height="15vh">
            <MudButtonGroup Size="Size.Large" Variant="Variant.Outlined">
                <MudButton Style="color:#9396A1;" Href="https://truetalk800.com/listenlive" Target="_blank">Live</MudButton>
                <MudButton Style="color:#9396A1;" Href="https://www.thenarrowpath.com/radio_archive.php" Target="_blank">Archive</MudButton>
            </MudButtonGroup>
        </MudPaper>     
</MudCardContent>
</div>
@code{

}

    








