::deep .mud-card-content.radio-container {
    min-height: 100vh;
    padding-bottom: 160px;
}
::deep .mud-paper{
    background-color: transparent;
}
::deep .mud-button {
    background-color: #5a912e;
}
::deep .mud-icon-root{
    color:#D8E6FE !important;
}
::deep .mud-list-item {
    background: rgb(216,230,254);
    background: linear-gradient(90deg, rgba(216,230,254,1) 51%, rgba(213,216,229,1) 100%);
}
::deep .mud-list {
    padding-top: 0px;
}
::deep p {
    color: #D8E6FE;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
::deep p.lead {
    color: #D5D8E5;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
::deep .radioDisclaimerText {
    color: #315087;
    width: 60%;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}


