@page "/radio"
@using System.Threading.Channels
@inject IDialogService DialogService

<div>
<MudCardContent >

    <MudPaper>
        <MudText Typo="Typo.h6" @onclick="(e) => OpenAudio()">Listen</MudText>
    </MudPaper>

<MudPaper Class="d-flex pa-4 justify-center" Elevation="0">
    
    <MudButton Variant="Variant.Filled"
                       StartIcon="@Icons.Material.Filled.Phone"
                       OnClick="@((e) => OpenDialog())">Call In </MudButton>
</MudPaper>
 
</MudCardContent>
</div>

    








