@page "/radio"
@using System.Threading.Channels
@inject IDialogService DialogService

<div>
<MudCardContent Style="background-color:transparent; height:100%; width:auto; padding:0px; overflow:hidden;">
<MastHead headerText="Radio"/>

    <AudioCard AudioTitle="Test title" RadioPlayingEventChanged="PlayRadio"
        RadioPlaying=_radioPlaying 
        @ref="AudioCardControl" />

<MudPaper Class="d-flex pa-4 justify-center" Elevation="0">
    
    <MudButton Variant="Variant.Filled"
                       StartIcon="@Icons.Material.Filled.Phone"
                       OnClick="@((e) => OpenDialog())">Call In </MudButton>
</MudPaper>
<MudText Typo="Typo.caption">@_radioPlaying</MudText>
        </MudCardContent>
</div>
@if (_radioPlaying == true)
{
    <div class="stickyfooter" style="position:fixed; bottom:0; width:100%; background-color: rgba(0,0,0,0.86); height:100px;">
        <div style="width:100%; text-align:right; align-content:center; padding-right:50px; padding-top:10px;">
            <button @onclick="CloseAudioPlayer" style="color:gray;">Close</button>
        </div>
        <div style="width:100%; height:80px; align-content:center;">
            <a style="color:lightblue">premi</a>
        </div>
    </div>
}


    








