@page "/radio"
@using System.Threading.Channels
@inject IDialogService DialogService

<div>
<MastHead headerText="Radio"/>

<AudioCard AudioTitle="Test title" RadioPlayingEventChanged="PlayRadio"
    RadioPlaying=_radioPlaying />

<MudPaper Class="d-flex pa-4 justify-center" Elevation="0">
    
    <MudButton Variant="Variant.Filled"
                       StartIcon="@Icons.Material.Filled.Phone"
                       OnClick="@((e) => OpenDialog())">Call In </MudButton>
</MudPaper>

</div>

    








