@page "/sharedplayer/{Title}/{Source}"
@page "/sharedplayer"
<h3>SharedLinkPlayer</h3>
<p>@Title</p>
<p>@Source</p>
@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Source { get; set; }
    string server = "https://thenarrowpath.com/";
    string fileType = ".mp3";

}
