::deep .subText {
    color: #315087;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
}
::deep .shareText {
    color: #315087;
    width: 60%;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
::deep .shareButton {
    background-color: #89669b;
    color: #d8e6fe;
    width: 200px;
}
::deep .shareButton:hover {
    background-color: #173671;
}
::deep .feature-link-button {
    color: lightslategray;
    border: 2px solid #08265b;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2px 10px 2px 5px ; 
}
::deep .mud-button-label {
    font-family: 'Segoe UI', Tahoma, Verdana, Geneva, sans-serif;
    
    padding: 10px;
}
::deep svg.mud-icon-root.mud-svg-icon.mud-icon-size-medium{
    color:#d8e6fe;
}