@page "/topical"
@using AudioWebApp.Client.Services
@inject NavigationManager NavigationManager
@inject SharedDataService SharedDataService
@inject ApiService apiService

<PageTitle>Topical</PageTitle>
<div>
    <MudCardContent>
        
        @if (dataReady == null)
        {
            <MudPaper Class="d-flex justify-center align-center" Elevation="0" Height="100vh">
                <MudProgressCircular Style="color:#5F76A6; " Indeterminate="true" />
            </MudPaper>  
        }
        else
        {
            <MudPaper>
                <MudList Clickable="true">
                    @foreach (var topic in apiService.Topics)
                    {
                        <MudListItem Text="@topic.Name">
                            <NestedList>
                                @foreach (var msg in topic.Messages)
                                {
                                    <MudListItem Text="@msg.Name" @onclick="(e) => OpenAudio(msg.Name, msg.Link)" />
                                }
                            </NestedList>
                        </MudListItem>
                    }
                </MudList>
            </MudPaper>  
        }
        </MudCardContent>
</div>
@code
{
    string? dataReady;

    protected override async Task OnInitializedAsync()
    {
        await apiService.LoadData();
        dataReady = "dataLoaded";
    }

    public void OpenAudio(object audioName, object audioLink)
    {
        SharedDataService.AudioTitle = audioName.ToString();
        SharedDataService.AudioLink = audioLink.ToString();
        SharedDataService.TogglePlayer();
    }
    
}
