@page "/topical"
@using AudioWebApp.Client.Services

@inject ApiService apiService

<PageTitle>Topical</PageTitle>
<div>
    <MudCardContent>
        <MastHead headerText="Topical"/>
        
        @if (dataReady == null)
        {
            <MudProgressCircular Color="Color.Default" Indeterminate="true" />
        }
        else
        {
            <MudPaper>
                <MudList Clickable="true">
                    @foreach (var topic in apiService.Topics)
                    {
                        <MudListItem Text="@topic.Name">
                            <NestedList>
                                @foreach (var msg in topic.Messages)
                                {
                                    @* <MudListItem Text="@msg.Name"/> *@
                                    <AudioCard AudioTitle="@msg.Name" />
                                }
                            </NestedList>
                        </MudListItem>
                    }
                </MudList>
            </MudPaper>  
        }
        </MudCardContent>
</div>
@code
{
    string? dataReady;

    protected override async Task OnInitializedAsync()
    {
        await apiService.LoadData();
        dataReady = "dataLoaded";
    }
}
