@page "/verse-by-verse"
@using AudioWebApp.Client.Services
@using AudioWebApp.Client.Models
@inject SharedDataService sharedDataService
@inject ApiService apiService

<PageTitle>Verse by Verse</PageTitle>
<div>
    <MudCardContent>
        
        @if (dataReady == null)
        {
            <MudPaper Class="d-flex justify-center align-center" Elevation="0" Height="100vh">
                <MudProgressCircular Style="color:#5F76A6; " Indeterminate="true" />
            </MudPaper>
        }
        else
        {
            <MudPaper Elevation="0">
                <MudList Clickable="true">
                    @foreach (var book in apiService.Books)
                    {
                        <MudListItem >
                            <ChildContent>
                                <MudStack Row="true">
                                    <a class="topicNameText">@book.Name</a>
                                    <a class="topicMessageCountText">@book.Messages.Count()</a>
                                </MudStack>
                            </ChildContent>
                            <NestedList>
                                @foreach (var msg in book.Messages)
                                {
                                    <MudListItem Text="@msg.Name" @onclick="(e) => OpenAudio(msg.Name, msg.Link, book.Server, book.Messages)" />
                                }
                            </NestedList>
                        </MudListItem>
                    }
                </MudList>
            </MudPaper>  
        }
    </MudCardContent>
</div>
@code
{
    string? dataReady;

    protected override async Task OnInitializedAsync()
    {
        await apiService.LoadData();
        dataReady = "dataLoaded";
    }

    public void OpenAudio(string audioName, string audioLink, string serverName, List<Message> queue)
    {
        string serverPath = sharedDataService.GetServerPath(apiService.Servers, serverName);

        sharedDataService.AudioTitle = audioName;
        sharedDataService.AudioLink = Path.Combine(serverPath, audioLink);
        sharedDataService.AudioSeries = "VerseByVerse";
        sharedDataService.GenerateQueue(queue, audioName, serverPath);
        sharedDataService.TogglePlayer();
    }
    
}
