::deep .mud-drawer {
    background: rgb(246,246,246);
    background: linear-gradient(0deg, rgba(246,246,246,1) 50%, rgba(216,230,254,1) 100%);

}
::deep .mud-typography {
    color: #0840AA;
}
::deep .mud-toolbar{
    background-color: #D8E6FE;
    padding-right: 0px;
}
::deep .mud-icon-root {
    color: #5f76a6;
}
::deep .mud-typography {
    font-size: 16px;
    color: #587abc
}
::deep .mud-main-content {
    background: rgb(216,230,254);
    background: linear-gradient(0deg, rgba(216,230,254,1) 10%, rgba(8,64,170,1) 100%);
    min-height: 100vh;
}
::deep div .stickyplayer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 140px;
    background-color: rgb(213 220 236);
    box-shadow: 0px -4px 3px 0.5px #8797bb;
}
::deep .mud-paper{
    background-color:transparent;
    align-content: center;
    justify-content: center;
}
::deep p.mud-typography.mud-typography-body1.audioTitleText{
    font-size:14px;
    padding-left:6px;
}