::deep .mud-drawer {
    background: rgb(246,246,246);
    background: linear-gradient(0deg, rgba(246,246,246,1) 50%, rgba(216,230,254,1) 100%);

}
::deep .mud-typography {
    color: #0840AA;
}
::deep .mud-toolbar{
    background-color: #D8E6FE;
}
::deep .mud-icon-root{
    color: #0840AA;
}